body section#hero img.logo {
    width: clamp(140px, 25vw, 300px);
    margin-bottom: 3vmax;
}

body section#inclusion-future {
    background-color: #f2ffe6;
}

body section#inclusion-future li {
    display: flex;
}

body section#inclusion-future li p {
    margin-top: 0;
}

body section#inclusion-future li i {
    margin-right: 10px;
}

body section#purposes h2 {
    margin-top: 0;
    font-size: clamp(32px, 3vw, 64px);
}

body section#purposes .col {
    padding: 0 clamp(6px, 3vw, 40px);
}

body section#news {
    background-color: #ffede5;
    max-width: 100vw;
    overflow: hidden;
}

body section#news .news-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vmax;
    border-bottom: 1px solid #cfcfcf;
}

@media (max-width: 460px) {
    body section#news .news-header {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
    }

    body section#news .news-header .bttn {
        margin-top: 10px;
    }
}

body section#news h2 {
    margin: 0;
}

body section#partners .swiper-slide {
    text-align: center;
}
